@mixin abs {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
